body {
    background-color: black;
    color: white;
    margin: 0;
    font-family: Arial, sans-serif;
  }
  
  #info-link {
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(75, 155, 105);
    font-size: x-large;
  }

  #seatStatus {
    margin-top: 10px;
  }

  .line {
    background-color: white; /* Line color */
    height: 2px; /* Line thickness */
    z-index: 11;
  }